<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/nv.d3.css" rel="stylesheet">


  <script src="Scripts/jquery.js"></script>
  <script src="Scripts/angular.js"></script>
  <script src="Scripts/d3.min.js"></script>
  <script src="Scripts/d3.v3.js"></script>
  <script src="Scripts/elasticsearch.js"></script>
  <script src="Scripts/app.js"></script>
  <script src="Scripts/sparkline.js"></script>
  <script src="Scripts/require.js"></script>

  <script src="Scripts/bower_components/elasticsearch/elasticsearch.js"></script>

  <script>

    require.config({
    paths: {
        d3: "Scripts/d3.v3",
        d3Tip: 'Scripts/bower_components/d3-tip/index',
        nvd3: "Scripts/nv.d3.min",
    },
    shim: {
        nvd3: {
          exports: 'nv',
          deps: ['d3.global']
        },
        d3Tip: ['d3']
    }
    });
    define("d3.global", ["d3"], function(_) {
      d3 = _;
    });
    require(["Scripts/main"], function () {})
  </script>

  <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, #bar-graph, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>

  <title>ElasticSearch Visualizations</title>
</head>
<body ng-app="D3Graphics" ng-controller="MainCtrl">
 <!-- <div id="pieChart"></div>-->


 <!-- Navigation -->

 <div id="page-wrapper" ng-init="some_prop = 22">
  <div class="container-fluid">
   <div class="row">
    <div class="col-lg-12">
      <form role="form">
        <div class="form-group">
          <label>Text area</label>
          <textarea ng-model= "query" rows="10" class="form-control"></textarea>
        </div>   
        <input  type="button" class="btn btn-default" ng-click="piechartcontrol.loadPies(query)" value="Submit Button" />
        <button class="btn btn-default" type="reset">Reset Button</button>
      </form>

    </div>

  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <div >
        <h2>Visualization</h2>
        <pie-chart control="piechartcontrol"></pie-chart>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<div id="bar-graph">
  <div>
    <h3> Timeline </h3>
    <form name="timelinespan">
        <label> Select span </label>
        <input type="radio" id="month" name="span" value="month" >  Month
        <input type="radio" id="year" name="span" value="year">   Year
    </form>
  </div>
  <svg></svg>
</div>





</body>


</html>
