<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

   <style>
    
   </style>

   <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
      <![endif]-->
     
      <script src="Scripts/jquery.js"></script>
 
  <script src="Scripts/angular.js"></script>
  <script src="Scripts/d3.min.js"></script>
  <script src="Scripts/d3.v3.js"></script>
  <script src="Scripts/elasticsearch.js"></script>
   <script src="Scripts/nameQuery.js"></script>
   <script src="Scripts/numberDateQuery.js"></script>
     <script src="Scripts/valueQuery.js"></script>
  <script src="Scripts/appName.js"></script>
  <script src="Scripts/sparkline.js"></script>
  <script src="Scripts/require.js"></script>

  <title></title>
</head>
<body ng-app="D3Graphics" ng-controller="MainCtrl">
 <!-- <div id="pieChart"></div>-->


 <!-- Navigation -->

 <div id="page-wrapper" ng-init="some_prop = 22">
  <div class="container-fluid">
   <div class="row">
    <div class="col-lg-12">
      <form role="form">
        <div class="form-group">
          <textarea ng-model= "query" rows="10" style="width: 800px;" class="form-control"></textarea>
        </div>   
         
       <input  type="button" class="btn btn-default" ng-click="callSubmit()" value="Submit Button" />
       <button class="btn btn-default" type="reset">Reset Button</button>
      </form>

    </div>

  </div>
  <!-- /.row -->
   <h2>Visualization</h2>
  <div class="row" ng-repeat="phoneNumber in phoneNumbers">
    <div class="col-sm-12" >
      <a href="~slodha/dig-visualization/phonePage.html?number={{phoneNumber.number}}">{{phoneNumber.number}}</a>
       <pie-chart id="pieChart-{{phoneNumber.number}}" dispVal = "State - " idVal="{{phoneNumber.number}}" valueQuery="mainEntity.availableAtOrFrom.address.addressRegion"  number="{{phoneNumber.number}}"></pie-chart>
       <pie-chart id="pieChart-{{$index}}" idVal="{{$index}}" dispVal = "Age - " valueQuery="mainEntity.itemOffered.personAge"  number="{{phoneNumber.number}}"></pie-chart>
       <line-chart id="lineChart-{{$index}}" idVal="{{$index}}"   number="{{phoneNumber.number}}"></line-chart>
       
    </div>
  </div>



</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->






</body>


</html>